[2022-07-07 11:33] brandonroberts opened #1 "[FEAT]: Add file-based routing"
There are multiple options here, but the goal is to define a "routes" folder where each file is a route and you can build a nested hierarchy of routes based on the file system.

There are vite plugins that can do this already, such as [vite-plugin-pages](https://github.com/hannoeru/vite-plugin-pages) but it would need some customization

The underlying routing system could be based on the Angular

[2022-07-07 11:40] brandonroberts opened #2 "[FIX]: Speed up Angular Vite Plugin"
The initial implementation of the Vite Plugin for Angular builds on the POC done by the browser builder for `esbuild` in the Angular CLI. This doesn't take into account for watch mode, and doesn't do much caching or incremental analysis.

I ported over some of the incremental analysis from the `@ngtools/webpack` AngularWebpackPlugin, but more could be done here to make it fast enough. Incremental

[2022-07-11 11:12] brandonroberts opened #3 "[DOCS]: Spin up docs site"
Build docs site with:

- Project overview
- Install instructions
- Contributing
- Sponsoring

Options
- Docusaurus
- Hand-rolled
- Other?

It will be hosted on analogjs.org

[2022-07-11 11:19] brandonroberts opened #4 "[CI]: Use GitHub Actions to automate workflows"

[2022-07-12 01:55] brandonroberts opened #5 "[FIX]: Add support for templateUrl/styleUrls"
External templates/styles do not trigger a rebuild on change. Inline styles/templates work as expected

[2022-07-14 11:24] brandonroberts opened #6 "[FEAT]: Add support for API routes"
### Initial Requirements

- API routes are defined as TypeScript files as part of the source code that is only executed on the server.
- They could live under `src/pages/api` with a predefined definition such as `.server.ts`
- This will result in a server build of the application

[2022-07-14 11:27] brandonroberts opened #7 "[FEAT]: Upgrade to Vite 3.0"
- Update dependencies
- Upgrade Angular Plugin
- Upgrade Project Starter

[2022-07-14 11:31] brandonroberts opened #8 "[FEAT]: Investigate Server-Rendering/Static Site Generation"
### Initial Requirements

- Developers will primarily build server-rendered apps
- After initial render, the client-side app takes over routing
- Also want the ability to statically generate pages of the app
- This should be configurable per page/route

[2022-07-21 18:14] #5 closed

[2022-07-22 12:36] brandonroberts opened #10 "[FEAT]: Investigate bundle size differences between Webpack build and Vite build"
Currently, the Vite build is significantly larger than a Webpack build for production

The Webpack-based builder does a 2-pass transform with esbuild/terser

Vite can also do a 2-pass transform with esbuild/terser to render chunks, but it doesn't happen for each file.

[2022-07-25 12:39] brandonroberts commented on #10
Angular mjs files needed to be transformed to enable better treeshaking
Along with esbuild optimization flags, the production build is on par with the Webpack build

Fixed via b78cfad3e8b49a1c04565a228022676c222d9b92

[2022-07-25 12:39] #10 closed

[2022-07-27 23:25] brandonroberts opened #11 "[FEAT]: Add support for HMR in development mode"
Vite uses HMR to enable refreshing the app without reloading the whole page. Vite uses HMR closest to the code that accepts HMR.

Angular has some support for this but not as granular as the root app needs to be destroyed and recreated for this to work.

External styles outside of component templates and HTML work as intended.

Prior art: https://github.com/angular/angular-cli/blob/main/packages/a

[2022-07-29 20:33] brandonroberts opened #12 "[FEAT]: Add Git initialization to template creation"
When running `yarn create analog`, initialize the git repository with an initial commit

[2022-08-02 12:15] brandonroberts commented on #12
Fixed via aadf01835a0c6bfd184795a1f821baf8caec56c0

[2022-08-02 12:15] #12 closed

[2022-08-05 13:27] brandonroberts opened #13 "[FEAT]: Add support for Vitest to Vite Plugin"
- Use tsconfig.spec.json when NODE_ENV is test
- Invalid source file cache on each transform
- Build/analyze TypeScript files on each transform

[2022-08-05 13:30] brandonroberts opened #14 "chore: add perf changes from esbuild browser plugin"
Adds checks to see if babel transform is needed

https://github.com/angular/angular-cli/pull/23682

[2022-08-05 16:50] #13 closed

[2022-08-06 21:04] #7 closed

[2022-08-08 11:23] #4 closed

[2022-08-08 17:26] brandonroberts opened #20 "[Test]: Set up E2E testing"
Setup E2E suites for

- Cypress
- Playwright

[2022-08-09 15:14] brandonroberts opened #21 "[FEAT]: Add SSR application"
Vite has built-in support for SSR https://vitejs.dev/guide/ssr.html

This application could serve as the starting point for using Analog applications with SSR, and a baseline for future support of api/server routes.

[2022-08-10 21:59] LayZeeDK commented on #20
Do you mean when consumers use the `create-analog` package or end-to-end tests internal to this workspace?

[2022-08-10 22:01] LayZeeDK commented on #3
I'm happy to help with Docusaurus and GitHub Pages.

[2022-08-10 22:02] brandonroberts commented on #20
Internal for this project to validate against those test runners, but I'd like to generate one with a new project also.

I don't personally have a strong preference over what the default would be but I do know that Vite integration opens up the possibility of better integration with Playwright

[2022-08-10 22:04] brandonroberts commented on #3
I'm on board with using Docusaurus and GitHub pages to start. May move deployment to Netlify later for PR previews and such

[2022-08-10 22:21] LayZeeDK commented on #20
Okay, so this issue is about end-to-end test suites for the `analog-app` project 👍

[2022-08-11 03:23] pjlamb12 commented on #14
I'm unsure where the change that starts [on line 371](https://github.com/angular/angular-cli/pull/23682/files#diff-309812edd0ff24c480525d73b2e4b7a0d82b91d2a689720f2e77395f7958bea7R371) of that PR should be added in Analog. My guess is in the object whose name is `name: '@analogjs/vite-plugin-angular-optimizer'` in the `angular-vite-plugin.ts` file, inside the transform method?

[2022-08-11 03:28] pjlamb12 commented on #14
[These are the changes I've begun making](https://github.com/pjlamb12/analog/commit/80ca785f56164e1dfd15ec99ebbb53e808e342f4). I haven't worked with esbuild (or anything similar) before so I know this may need to change.

[2022-08-11 11:47] brandonroberts opened #23 "[Community]: Generate contributors section in README"
Commonly used tool is All Contributors https://allcontributors.org/

[2022-08-11 12:33] brandonroberts commented on #14
@pjlamb12 Thanks! Looking on track so far. You don't need to add the `advancedOptimizations` flag. Just use the `isProd` boolean that already exists inside the plugin. These changes would be added to both the `@analogjs/vite-plugin-angular-optimizer` and `@analogjs/vite-plugin-angular` transform functions.

Would be cleaner to separate the plugins into different files, but that can come as a separ

[2022-08-11 12:35] brandonroberts commented on #1
Another note for the Angular Router is that as it supports guards as plain functions now, we could generate guards in the configuration that connect to the API defined inside the route component. Not sure how we would collect and run these on the server side though to re-hydrate the route data

[2022-08-11 12:39] brandonroberts opened #24 "[LIB]: Migrate Angular Integration for Astro to this repo"
I've developed a plugin for Astro that let's use Angular components inside of an Astro project. The repository currently lives here https://github.com/brandonroberts/ng-astro in the `integration-angular` folder.

This effort would:

- Move that integration to this repo
- Rename the package to @analogjs/astro-integration-angular
- Update the package to support the new `createApplication` API upcomi

[2022-08-11 13:26] jasonhodges commented on #23
Hi @brandonroberts, I could tackle this if OK with you.

[2022-08-11 18:43] mainawycliffe commented on #24
Can I take a crack at this?

[2022-08-11 19:06] brandonroberts commented on #24
Sure, thanks! My additional thoughts were this should be generated as a `@nrwl/js:lib` with `--publishable` so there's a build step from TypeScript

[2022-08-11 19:07] brandonroberts commented on #23
Of course

[2022-08-11 23:46] jasonhodges opened #25 "[DOCS]: Correct URL for commit samples"
Currently inside the Contributing.md file the URL for additional commit samples points to https://github.com/analogjs/analog/commits/master which returns a 404.

It should point to https://github.com/analogjs/analog/commits/main

[2022-08-12 13:19] jasonhodges commented on #23
@brandonroberts Do you want to use the AllContributors bot or manually maintain the Contributors?

[2022-08-12 21:55] LayZeeDK commented on #3
Suggestions for the *Sponsoring* page, @brandonroberts?

[2022-08-13 22:13] brandonroberts commented on #3
My suggestions would.

You can sponsor this project through GitHub sponsors with a link to that.

Sponsorships of at least $50/month will get their logo added to the GitHub README.

Sponsorships of at least $100/month will get their logo added to the GitHub README and the homepage of the website. Thanks will also be mentioned in blog posts about the project.

Sponsorships over and above these amou

[2022-08-13 23:03] #25 closed

[2022-08-14 21:01] brandonroberts commented on #1
Tracking some ideas for folder/file structure. As Angular does not have its own file format, such as `.ng` we still need some way to differentiate files used for generating routes. One proposed idea is to use `.route.ts` as an identifier for file-based routes. Screenshot below of potential structure

![image](https://user-images.githubusercontent.com/42211/184553625-2bb5f95c-aff7-4bac-b5c3-ccfaa7d

[2022-08-15 11:16] #3 closed

[2022-08-15 13:17] brandonroberts commented on #23
Use the bot

[2022-08-15 13:43] LayZeeDK commented on #20
I've been setting up Cypress tests and here is what I found.

# Targets in `project.json`
## Ideal setup

Ideally, we would configure our `analog-app-e2e:e2e` target like so:

[code]

where the `analog-app:serve` target is:

[code]

However, Nx and/or `@nrwl/cypress:cypress` doesn't seem to be able to detect:

- When the Vite development server is running
- The port the development server is expos

[2022-08-15 14:02] brandonroberts commented on #20
As we don't have a custom executor/builder for Vite yet, which I'm intentionally holding off on, my preference for the given options would be the second one using `start-server-and-test`

[2022-08-15 14:15] LayZeeDK commented on #20
Why is that? 🙂

Is it not something that a feature request could be opened for that could be tagged with *help wanted*?

[2022-08-15 15:27] brandonroberts commented on #20
I put some thoughts up here https://twitter.com/brandontroberts/status/1555598666278359042

I'm not opposed to have an executor/builder for Vite/Vitest but it would be very thin as I don't want to cover up the Vite config behind a wall of JSON config

[2022-08-15 17:44] Yberion opened #30 "Building error of the repo on Windows"
### Which analog package(s) are the source of the bug?

I cloned the current state of the repo which contains:
- `vite-plugin-angular 0.2.0-alpha.6`
- `create-analog 0.1.6`

### Is this a regression?

No.

### Description

Hello,

I cloned the repo and wanted to build it with the command `nx run-many --target build --all` (`npm run build`).
It failed on `nx run create-analog:build` with the follow

[2022-08-15 19:38] LayZeeDK commented on #20
Seems like Nxext has Vite and Vitest executors 👀
![image](https://user-images.githubusercontent.com/6364586/184705138-e0c9d4db-cff9-4132-b116-a255f9180a74.png)
👀

[2022-08-15 21:07] LayZeeDK commented on #30
`mkdir -p` is a Unix command. It would be better to use a cross-platform script. I have the same problem on Windows using PowerShell.

[2022-08-15 21:30] brandonroberts commented on #30
Yep. I'll get a fix in for that

[2022-08-16 04:22] LayZeeDK commented on #20
Reopen to include Playwright.

[2022-08-16 18:25] #30 closed

[2022-08-17 13:23] #23 closed

[2022-08-18 11:37] brandonroberts opened #36 "[DOCS]: Add CNAME file for analogjs.org domain"
In order to serve the GitHub pages deployment on analogjs.org, a CNAME file is needed at the root of the deployed page

Steps:
Add a `CNAME` (no extension) file that includes the text `analogjs.org` to the output of the Docs build
After its deployed, verify on GitHub pages

Example: https://github.com/ngrx/ngrx-io-previews/blob/master/CNAME

The file can be placed in the `static` directory for Doc

[2022-08-18 15:28] #36 closed

[2022-08-18 17:20] dalenguyen opened #38 "[DOCS] fix buttons styling on mobile"
CTA on mobile is not responsive

**Current Behaviour**

![image](https://user-images.githubusercontent.com/14116156/185455836-aa3b9fc2-1313-4321-80d7-85c2d1df9e9b.png)

**Expect Behaviour**

CTA buttons should be responsive on mobile

[2022-08-18 17:23] dalenguyen commented on #38
And can I work on this ticket? 🤣

[2022-08-18 17:30] brandonroberts commented on #38
Lol yes of course. While you're in there will you update the color for the header to match on lite/dark modes. The red should be the one used in the light mode on both.

[2022-08-18 17:50] LayZeeDK commented on #38
This is a separate issue. Please open another issue for this.

That being said, the read has been lightened for accessibility WCAG-AA contrast concerns [as recommended by Docusuarus](https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima).

[2022-08-18 17:57] brandonroberts commented on #38
Thanks Lars. I thought to file a new issue for this also but didn't. Good call on the accessibility front but I'd like the color to be closer to the ones in the logo. I'll file a separate issue to keep the conversation there.

[2022-08-18 17:59] brandonroberts opened #39 "[DOCS]: Update homepage header to different shade of red in dark mode"
Update the color for the header to match on lite/dark modes. The red should be the one used in the light mode on both.

That being said, the red has been brightened in dark mode for accessibility WCAG-AA contrast concerns when used with black [as recommended by Docusaurus](https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima).

_Originally posted by @LayZeeDK in https://github.c

[2022-08-18 17:59] brandonroberts opened #40 "[REPO]: Add pull request template"
Keep it lightweight for now

[2022-08-18 18:02] brandonroberts opened #41 "[REPO]: Add issue template"
- General information
  - Environment
  - Bug/Feature/Docs
- Reproduction
- Whether they would like to contribute

References: https://github.com/ngrx/platform/tree/master/.github/ISSUE_TEMPLATE

[2022-08-18 20:07] LayZeeDK commented on #39
Use [this Docusaurus tool](https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima) to generate shades and tints of red for dark mode.

The color variables are defined in https://github.com/analogjs/analog/blob/main/apps/docs-app/src/css/custom.css.

[2022-08-18 21:57] brandonroberts opened #44 "[FEAT]: Update create-analog template application to latest dependencies"
The package.json needs updating here https://github.com/analogjs/analog/blob/main/packages/create-analog/template-angular-v14/package.json#L34-L35

Vite `^3.0.4`
Vitest `^0.21.0`

[2022-08-18 22:15] LayZeeDK opened #45 "docs: incorrect edit URL"
The edit URL is broken so that when we press *Edit this page* in the documentation, we get a 404 response.

[2022-08-18 22:20] #45 closed

[2022-08-19 08:39] Yberion commented on #44
Hello,

Can I take this one ?

Why not vite `^3.0.8` ?

May I suggest updating other packages of the template ?

tslib `^2.4.0`
zone.js `~0.11.8`
typescript `~4.7.4`

[2022-08-19 11:15] brandonroberts commented on #44
Sure. Updating those also is fine with me. If you want to test it locally, run:

node ./packages/create-analog/index.js

Choose analog-project as the name
cd analog-project
yarn
yarn dev
yarn build
yarn test

The analog-project directory is ignored in git

[2022-08-19 13:28] LayZeeDK commented on #44
Seeing that Vitest is a prerelease (<1.0.0), I suggest we don't match *minor* versions to prevent accepting breaking changes, that is:
[code]

[2022-08-19 13:53] brandonroberts commented on #44
I'm fine with leaving the range to accept minor versions at the moment. We're still in a prerelease state also, so I'd like to know if something breaks with the latest feature version that gets installed.

[2022-08-19 17:19] #38 closed

[2022-08-19 17:27] Villanuevand commented on #41
@brandonroberts  I would like to tackle this one.

[2022-08-19 17:46] brandonroberts commented on #41
Assigned, thanks!

[2022-08-19 19:30] LayZeeDK commented on #44
My point is that 0.x.0 version bumps mean breaking changes while 0.x.y versions are non-breaking feature and bugfix releases if following semantic versioning for prereleases.

[2022-08-19 19:45] brandonroberts commented on #44
At this point in active development, yes. I'm not planning on intentionally breaking anything but we still need room to stay updated.

When we move to a beta version for the plugin, I think it's ok to tighten up the versions to be more strict. If someone says their using this stack to build towards production today, we'll revisit this accordingly.

[2022-08-19 21:29] #41 closed

[2022-08-19 22:06] Villanuevand commented on #40
@brandonroberts I would like to take a crack at this !

[2022-08-20 11:21] timdeschryver commented on #20
I can pick up the Playwright tests if you want.
I just don't know how much value these will have because these will test the same thing as the Cypress tests? Which is that the app is running correctly.

[2022-08-20 19:51] LayZeeDK commented on #20
@timdeschryver

According to @brandonroberts

[2022-08-20 20:06] timdeschryver commented on #20
Yea, that's correct. Playwright can be used with any test runner, also [Vitest](https://playwright.dev/docs/test-runners#vitest).
The downside is that you have to do the setup to launch/close the browser manually, this is done for you with `@playwright/test`. The latter is used in #51 , but we can swap it out if we want to add these tests.

[2022-08-20 20:25] LayZeeDK commented on #20
I used [`start-server-and-test`](https://www.npmjs.com/package/start-server-and-test) for the Cypress end-to-end test suites.

[2022-08-20 20:26] LayZeeDK commented on #20
@timdeschryver
Which test runner is currently used in #51?

[2022-08-20 21:33] brandonroberts commented on #20
I agree, a full Vitest + Playwright example would be a good start. I did some testing with the experimental component tests using Playwright and the Vite plugin also and it works as expected with standalone components.

[2022-08-20 21:43] LayZeeDK commented on #20
Cypress Component Tests which support Angular as of Cypress version 10.5 also use Vite as test runner/development server as far as I'm aware.

What is *the experimental component tests* you are referring to, @brandonroberts?

[2022-08-20 22:37] brandonroberts commented on #20
Here's the link to the docs

https://playwright.dev/docs/test-components

[2022-08-21 04:28] umairhm commented on #39
@brandonroberts I will like to give this a try, please assign it to me.

[2022-08-21 20:08] #44 closed

[2022-08-21 20:10] brandonroberts commented on #40
Assigned!

[2022-08-22 21:42] mainawycliffe commented on #21
Will this use an express server or do we have a few alternatives to choose from?

[2022-08-23 00:01] #20 closed

[2022-08-23 00:06] brandonroberts commented on #21
Good question. Most likely we'll start with express and see what other options are available.

Some type of NestJS integration would be interesting but not sure it's possible.

[2022-08-23 00:10] brandonroberts opened #54 "[REFACTOR]: Move plugins into separate files"
Right now there's 2 plugins

- A plugin for transforming files
  -   This plugin also handles deps optimization
- A build-only plugin for optimizing

Suggest splitting these into 3 plugins in separate files and using the plugin entry point to pass them the necessary options

- Deps optimizer
- Transform
- Build optimizer

[2022-08-23 00:12] brandonroberts commented on #11
Plugin as-is when used in Vite environment does a flash on each HMR reload. Need to investigate this so it appears native.

[2022-08-23 00:58] Yberion commented on #21
I'm sure a Fastify version could be done as well.

If I understand correctly, we can already make an example app with Vite SSR using Angular Universal Engine (Common/Clover) as renderer?

If so, are you fine with the example app not being Standalone since Angular Universal doesn't support it yet?

[2022-08-23 02:22] brandonroberts commented on #6
Could also explore integrating Nitro, the server engine that powers Nuxt.

- Works with Vite
- Already battle tested
- Needs configuration and wiring

https://github.com/unjs/nitro

[2022-08-23 06:23] timdeschryver commented on #20
@LayZeeDK first it used the @playwright/test runner/assertions.
This does most of the heavy lifting for you, and can be configured to your needs.
E.g. which browsers to run the test in, retries, recording, servers to run, ...

Now, it uses vitest to run the tests, and the assertions by vitest.
This seems faster, but we have to create the browsers manually in the before/after hooks.

[2022-08-23 07:42] mainawycliffe commented on #21
@brandonroberts What do you mean by NextJS integration?

This one issue I would love to explore and see if I can pull it off, but I would need some guidance on the way to approach it.

[2022-08-23 14:22] mainawycliffe commented on #21
Makes sense

[2022-08-23 16:37] Yberion commented on #21
I tried on my side with Angular Universal last week but I was missing some knowledges (`selectors` & `renderApplication`, `angular.default()`). Thanks for making that implementation!

Do you still require a PR for this issue (mostly copy/paste what you did) or you will do it yourself?

[2022-08-23 20:12] mainawycliffe commented on #21
Taking a look at the repo you shared, and it looks quite nice. To do SSR, we would need to load the individual route and get component details from it and do SSR, am I right?

[2022-08-23 21:16] brandonroberts commented on #21
@Yberion its not complete. It doesn't handle serving a production build. It just shows that it works.

@mainawycliffe Yes, if you have the routing setup with the Angular Router it should just SSR the app similar to how universal does it.

Long term this would be integrated inside the plugin itself. We could add some docs on using this as is today with an existing setup

[2022-08-23 21:23] mainawycliffe commented on #21
I am just mentally modeling how the plugin would work; with analog and maybe express or nestjs, we would automatically check the route being accessed in the routes directly and SSR the page. The tricky part I can think of is to fallback to CSR so that it behaves like a SPA after the first load (maybe I am thinking to far ahead) and lazy loads the routes just like a normal angular application, but

[2022-08-24 01:35] #24 closed

[2022-08-24 04:36] umairhm commented on #39
@brandonroberts @LayZeeDK What if we leave the banner as-is in both dark and light modes, including the copy and buttons? The rest of the page changes anyways, and the banner can stay as-is.

[2022-08-24 04:41] LayZeeDK commented on #39
The banner is probably where the color variation is currently the most apparent. How about the opposite of what you're suggesting? Banner uses the *real* red while everything else uses the brighter palette in dark mode.

[2022-08-24 11:16] brandonroberts commented on #39
@LayZeeDK @umairhm the other color choices are fine in my opinion. I'd have to see a preview of the proposed changes

[2022-08-25 23:27] #14 closed

[2022-08-29 12:38] brandonroberts opened #60 "[FEAT]: Add support for passing static props to an Angular component in Astro"
### Which scope/s are relevant/related to the feature request?

astro-angular

### Information

You can use a self-contained Angular component in Astro.

[code]

You should be able to pass down static props to the component and consume them in the Angular component.

In Astro template
[code]

In Angular component
[code]

The token would be added to the `providers` of the component:

Through server

[2022-08-30 13:50] brandonroberts opened #61 "[REFACTOR]: Only include minimal deps for Angular in Astro"
When running `astro add @analogjs/astro-angular`, additional deps such as `@angular/forms` is installed but the developer may never use it.

Remove these additional deps from the peerDependencies in the package.json

@angular/forms

[2022-08-30 14:49] brandonroberts opened #62 "[DOCS]: Add skipLibCheck to tsconfig example for Astro"
Using the `skipLibCheck: true` in the tsconfig.app.json prevents compiler errors when using the integration alongside JSX dependencies such as the Astro MDX integration.

Add the flag to the tsconfig.app.json in the README.

[2022-08-30 15:44] brandonroberts opened #64 "[FEAT]: Add support for prod mode for multiple components in Astro"
When rendering Angular components, you want to `enableProdMode()` when building for production. Using enableProdMode multiple times throws an error.

Should add a custom/internal function to call enableProdMode. Need to only call it one time, set a flag, and skip it upon subsequent calls.

[2022-08-30 19:03] brandonroberts opened #69 "[REPO]: Automate publishing of packages"
The Analog packages are versioned independently and this would automate the versioning and release of each package based on most recent commits.

Not sure if this would also include generating an updated changelog for each package. Ideally this could be triggered through a protected GitHub Action also

[2022-08-30 19:51] #60 closed

[2022-08-30 22:59] #64 closed

[2022-08-31 04:21] pjlamb12 commented on #62
@brandonroberts I'll take this one

[2022-08-31 05:16] #62 closed

[2022-08-31 05:17] #61 closed

[2022-08-31 21:49] mainawycliffe commented on #69
Can I take a look at this? By publishing you mean automated on release or tags or what do you have in mind?

[2022-09-03 00:31] KylerJohnsonDev opened #75 "New analog project could not compile"
### Please provide the environment you discovered this bug in.

Apple Macbook M1 - local

### Which area/package is the issue in?

Don't know / Other

### Description

Steps to reproduce:

1. Run `yarn create analog analog-test`
2. navigate to analog-test directory
3. run `yarn` to install dependencies
4. Observe error

Note: I experienced the same issue using npm

I was able to solve this problem

[2022-09-03 01:05] KylerJohnsonDev commented on #75
Running the `vite optimize` post install script produces this error. [Here](https://github.com/KylerJohnsonDev/analog-test) is a link to a github repo with my analog project. It contains no changes so you should see the above errors.

[This](https://github.com/KylerJohnsonDev/analog-test/pull/1/files) is a PR into my main branch showing what I changed in order to compile and run the app.

[2022-09-03 05:55] brandonroberts commented on #75
My guess it was this PR that caused it. https://github.com/analogjs/analog/pull/65

[2022-09-03 19:13] #75 closed

[2022-09-03 19:24] #40 closed

[2022-09-03 20:58] Yberion opened #78 "[BUG] vite optimize error"
### Please provide the environment you discovered this bug in.

You just need to create a new analog project on stackblitz and you will face the problem (use the [link from de readme](https://stackblitz.com/github/analogjs/analog/tree/main/packages/create-analog/template-angular-v14?file=vite.config.ts&preset=node))

Here is a repro:

https://stackblitz.com/edit/github-cjjxe9

### Which area/packa

[2022-09-03 21:08] Yberion commented on #78
Problem fixed with https://github.com/analogjs/analog/commit/78feab26df5d05095b24f6b0ecf49b1d04ae452e, thank you @brandonroberts :)

[2022-09-03 21:08] #78 closed

[2022-09-04 22:26] simitch1 opened #79 "Double rendering of astro component"
### Please provide the environment you discovered this bug in.

I've recreated the issue in this repo:
https://github.com/simitch1/analog-astro-double-rendering-bug

### Which area/package is the issue in?

astro-angular

### Description

I saw that in some condition, the compilation or client hydration process creates multiple instance of the same component, one interactive and the other one not

[2022-09-05 02:05] brandonroberts commented on #69
@nartc said he was going to take a look at this.

[2022-09-05 03:35] brandonroberts commented on #79
The client hydration fails because there is a property defined on the component that isn't an input. We'll need to add the same check that's on the server here https://github.com/analogjs/analog/blob/main/packages/astro-angular/src/server.ts#L52 to the client

https://github.com/analogjs/analog/blob/main/packages/astro-angular/src/client.ts#L22

The double render might be an upstream issue. I can

[2022-09-05 19:14] mainawycliffe commented on #69
No worries, I will find something else to sink my teeth in

[2022-09-07 02:57] pratikpparikh opened #80 "SCSS pre-processing and including compiled css in index"
### Which scope/s are relevant/related to the feature request?

vite-plugin-angular

### Information

SCSS is getting preprocessed while using vite and is not injecting complied css in index.html

include
- styles.scss in src/app/styles/
- include the same in angular.json

"schematics": {
    "@schematics/angular:component": {
      "style": "scss"
    }
  }

result should be  included styles.css

[2022-09-07 03:32] #80 closed

[2022-09-09 12:42] pratikpparikh opened #82 "Component level scss processing"
### Please provide the environment you discovered this bug in.

Analog generated project

### Which area/package is the issue in?

vite-plugin-angular

### Description

I am having problem processing component level scss.  Do you have an example of such?

this seems to be a bug because in plugin you are resolving the css but not processing it if it is a scss before resolving

### Please provide th

[2022-09-09 20:04] brandonroberts commented on #1
Put together a prototype based on the [generouted](https://github.com/oedotme/generouted) project

https://github.com/brandonroberts/angular-analog-file-routing

[2022-09-09 21:37] zsyphon commented on #82
this is an issue for me too. Is there a fix?

[2022-09-10 19:42] tmorrowdev opened #83 "using yarn@3.2.3: wont create the starter app using 'yarn create analog my-angular-app --template angular-v14'"
exits install with the following error :

/Users/tylermorrow/.yarn/berry/cache/create-analog-npm-0.1.9-5e311e5024-7.zip/node_modules/create-analog/index.js:4
import fs from 'node:fs';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1031:15)
    at Module._compile (node:internal/module

[2022-09-13 11:58] brandonroberts commented on #82
Inline component SCSS is not supported at the moment. Will look into see what is needed for this feature soon.

[2022-09-13 12:21] pratikpparikh commented on #82
@brandonroberts line 176 in angular-vite-plugin.ts could be enhanced to use vite:css plugin.  Below is pseudo code of how to find the plugin, the plugin has transform handle but not sure how to call it.  Sorry don't know vite uses the plugin otherwise would have completed the following and submitted the PR.

if (hasStyleUrls(code)) {
              const styleUrls = resolveStyleUrls(code, id);

[2022-09-13 12:44] pratikpparikh commented on #82
This is not inline scss, this styleUrls that are not working as the current component-resolvers assume that file reference is complied css and does not require preprocessing.

[2022-09-13 12:47] brandonroberts commented on #82
The vite:css plugin is already part of the pipeline. The file watchers are not responsible for the transform themselves. The styles get inlined during compilation, so they would have to be processed before then.

[2022-09-13 12:55] pratikpparikh commented on #82
I was trying to help but I think i am clueless in how this works.  What you are saying make sense,  so I will wait for you to bridge this gap.  This kinda blocker for me, so if you can close this as you get time then i would really appreciate it.  Overall the plugin is working great for me.

[2022-09-15 07:30] nartc commented on #69
@mainawycliffe feel free to pick it up. I have been a bit busy lately.

[2022-09-15 22:26] JesseRobinsonDev opened #85 "Children elements in components with ng-content"
### Which scope/s are relevant/related to the feature request?

astro-angular

### Information

Unable to render child elements in Angular components using <ng-content></ng-content>

Button component that I want to render children inside the button
Button.ts:
[code]

index.astro:
[code]

Unsure if there is a specific thing I need to import on the component, I've tried looking around but I can't fi

[2022-09-21 00:05] brandonroberts commented on #85
Because of the way the components work with Angular in Astro, I'm not sure this is possible. On the server side, we are rendering the component similar to SSR, so the child content isn't `ng-content` as you'd expect with a normal component. Have to dig further into this to see if there's a solution.

[2022-09-21 00:18] brandonroberts opened #86 "[BUG]: Sourcemaps not working correctly"
### Please provide the environment you discovered this bug in.

Local development

### Which area/package is the issue in?

vite-plugin-angular

### Description

Setting breakpoints in Chrome isn't working correctly, and viewing the source of a file displays two sets of strings for the sourcemap.

### Please provide the exception or error you saw

_No response_

### Other information

_No response

[2022-09-22 13:10] #82 closed

[2022-09-22 13:18] marcjulian opened #90 "docs: add usage for angular component in mdx"
### Which scope/s are relevant/related to the feature request?

Docs

### Information

Astro has an integration for mdx and I wanted to use an Angular component in the mdx file.
I couldn't find anything about mdx in docs for `@analogjs/astro-angular`.

Here is how it worked for me:

1. You need `@astrojs/mdx` and `@analogjs/astro-angular` installed and configured in `astro.config.mjs`

[code]

2.

[2022-09-22 13:26] marcjulian commented on #90
@brandonroberts I can add this to the readme. Should I create a new section below `Defining A Component`?

[2022-09-22 13:28] brandonroberts commented on #90
@marcjulian yep, that works

[2022-09-22 21:44] #90 closed

[2022-09-22 23:49] brandonroberts commented on #82
This fix has been included with the `0.2.0-alpha.8` release of the plugin. Thanks!

[2022-09-23 00:20] pratikpparikh commented on #82
@brandonroberts thank you.  I tested it but the styleUrls are not working.  It results in following error:

8:16:52 PM [vite] Internal server error: Cannot read properties of null (reading '1')
      at Context.<anonymous> (/opt/development/trianz/analog/node_modules/@analogjs/vite-plugin-angular/src/lib/inline-styles-plugin.js:29:62)
      at Generator.next (<anonymous>)
      at /opt/development

[2022-09-23 00:28] brandonroberts commented on #82
@pratikpparikh I'll take a look. If you have a reproduction or quick example snippet that would help also

[2022-09-23 00:36] pratikpparikh commented on #82
@brandonroberts I tested it with your analog-app under apps.  Just swap out inline scss style in product-list.component.ts with styleUrls: ['./product-list.component.scss'] and you will be able to reproduce.

Regards,
Pratik Parikh

[2022-09-23 00:38] brandonroberts commented on #82
Hmm interesting. There are already other components in the analog-app that use SCSS styleUrls. Thanks

[2022-09-23 00:42] brandonroberts commented on #82
I see what's going on now. Those other ones are CSS styleUrls. I'll get a fix in

[2022-09-23 00:44] pratikpparikh commented on #82
thank you

[2022-09-23 01:55] brandonroberts commented on #82
Fixed and released as `0.2.0-alpha.9`

[2022-09-24 20:49] brandonroberts opened #92 "[DOCS]: Add system requirements for development"
- Node 16+ is required
- Angular v14.2+

[2022-09-30 10:47] alfredogonzalezmartinez opened #95 "[BUG]: astro-angular integration broke Astro <script> tag"
### Please provide the environment you discovered this bug in.

[Error reproduction](https://stackblitz.com/edit/analogjs-astro-angular?file=src/pages/index.astro)

### Which area/package is the issue in?

astro-angular

### Description

Script tag doesn't work in astro components when I add @analogjs/astro-angular to my Astro project.

Script tag works when I add `is:inline` directive or an atrib

[2022-09-30 11:25] brandonroberts opened #96 "[BUG]: Astro plugin shows sourcemap warning in the console"
### Please provide the environment you discovered this bug in.

Development

### Which area/package is the issue in?

astro-angular

### Description

When using the Astro plugin, there is a warning logged to the console about sourcemap locations

[code]

### Please provide the exception or error you saw

_No response_

### Other information

_No response_

### I would be willing to submit a PR to

[2022-09-30 11:33] brandonroberts opened #97 "[FEAT]: Add support for passing environment providers to Angular components used in Astro"
### Which scope/s are relevant/related to the feature request?

astro-angular

### Information

Currently, you can only use component-level providers, and do not have access to pass environment-level providers when rendering on the server or hydrating on the client.

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this i

[2022-09-30 13:14] #96 closed

[2022-09-30 13:15] brandonroberts commented on #95
Fixed with https://github.com/analogjs/analog/pull/98

[2022-09-30 13:15] #95 closed

[2022-10-03 11:45] brandonroberts commented on #95
This fix has been released with `@analogjs/astro-angular` version `0.1.0-beta.2`

[2022-10-03 12:54] himyjan commented on #97
[@analogjs/astro-angular with @example/framework-multiple log tsx error test repo](https://github.com/himyjan/Astro/tree/%40analogjs/astro-angular)
[code]

[2022-10-03 13:46] brandonroberts commented on #97
@himyjan this is not relevant to this issue.

The fix is to add the `.tsx` files to the includes array of the `tsconfig.app.json`

[2022-10-07 13:33] MJ-One opened #100 "bug: Vite Plugin tries to compile tsx files for React Components"
### Please provide the environment you discovered this bug in.

I've been using react with typescript in astro and its working ifne but, when i tried integrating Angualr with astro in the same project i'm getting errors. And Angular compiler is trying to compile react components too.

my React components :  src/components/react/*.ts
my Angular components : src/components/angular/*.tsx
my other typ

[2022-10-08 02:58] brandonroberts commented on #100
Adding `tsx` files to the tsconfig.app.json should solve the issue

BEFORE:

[code]

AFTER:

[code]

This should probably be added to the `tsconfig.app.json` template as this seems to be pretty common.

[2022-10-08 04:30] MJ-One commented on #100
![image](https://user-images.githubusercontent.com/93049488/194688179-0d8ac22a-334e-41c5-8b14-74e789908206.png)

[2022-10-08 04:31] MJ-One commented on #100
thought the file named with *.tsx, it is asking me to make soure what I've named

[2022-10-08 04:32] MJ-One commented on #100
![image](https://user-images.githubusercontent.com/93049488/194688370-d0058c73-e50c-4901-937a-36e32a9658e0.png)
My Index.astro page

[2022-10-08 13:01] brandonroberts commented on #100
Looks ok to me. Check out this repo for reference which does the same thing and see if there are any differences

https://github.com/manfredsteyer/astro-last-minute

[2022-10-08 13:41] MJ-One commented on #100
I've gone through the repository he has written React components in *.jsx files I've tried it earlier and its working fine. i was trying to use react with typescript by writing in *.tsx files. thats where the problem is

[2022-10-08 13:54] MJ-One commented on #100
react components written in *.jsx files are working well. But if i wanted to use typescript with react and try to write react components in *.tsx files, it is throwing a parse error as shown above. Please help me out

[2022-10-08 15:23] brandonroberts commented on #100
Ahh I see. It's probably due to the transform picking up tsx files from this line

https://github.com/analogjs/analog/blob/main/packages/vite-plugin-angular/src/lib/angular-vite-plugin.ts#L176

If you remove the `x?` from the lines in the file that look like that, it will not try to compile them.

[2022-10-09 00:36] MJ-One commented on #100
react components written in *.jsx files are working well. But if i wanted to use typescript with react and try to write react components in *.tsx files, it is throwing a parse error as shown above

[2022-10-09 00:43] MJ-One commented on #100
I dont have this file in my project? sorry i'm a sort of newbie at this depth please help me out.

[2022-10-09 01:09] brandonroberts commented on #100
I see. That file is in the plugin provided by Analog that enables Angular support in Astro. We'll have to put in a fix and release a new version of the plugin.

If you'd like to take a stab at a PR let me know and I'll give you some more specific guidance

[2022-10-09 10:23] himyjan commented on #100
https://github.com/himyjan/Angular-Analog-15-next/tree/analog
<img width="1121" alt="image" src="https://user-images.githubusercontent.com/51815522/194750150-035454b4-0f6c-4f78-ac15-fa239ba931a8.png">

before remove the x? from the lines:

<img width="755" alt="image" src="https://user-images.githubusercontent.com/51815522/194750825-8e34f5f2-fe17-4e83-887d-5875652470dd.png">

<img width="991" alt=

[2022-10-09 14:15] MJ-One commented on #100
@brandonroberts Thanks for that. I will be looking forward to interact with you.

[2022-10-09 14:26] mainawycliffe commented on #69
@brandonroberts I will take care of this in the next few days

[2022-10-09 18:26] brandonroberts commented on #100
@MJ-One there are two changes that need to be made to remove the `x?`.

Here:

https://github.com/analogjs/analog/blob/main/packages/vite-plugin-angular/src/lib/angular-vite-plugin.ts#L125

And here:

https://github.com/analogjs/analog/blob/main/packages/vite-plugin-angular/src/lib/angular-vite-plugin.ts#L176

You can fork this repo, clone it locally, make a branch with those changes, push up the

[2022-10-09 18:29] brandonroberts commented on #69
@mainawycliffe ok cool. Let me know if you have any questions. We may be able to use the affected commands from Nx in some way.

[2022-10-10 12:05] StillScripts commented on #100
@brandonroberts I've been dealing with the same issue. Switching to `.jsx` has solved it. I'll switch back once this issue has been solved.

[2022-10-11 09:08] TicTak21 opened #104 "[REPO]: Yarn2 or PNPM as package manager"
### Which scope/s are relevant/related to the feature request?

Don't known / other

### Information

It would be nice to use [Yarn2](https://dev.to/arcanis/introducing-yarn-2-4eh1) or [PNPM](https://pnpm.io/) as package manager.

Pros:
1) Faster `install`
2) [Plugins](https://yarnpkg.com/features/plugins)(Yarn2)
3) Faster CI(Should be tested)
4) Cache

Cons:
1) Yarn2(with Plug-n-Play) requires co

[2022-10-11 14:46] GiuntaLucas opened #105 "@Input doesn't work from Astro component"
### **Please provide the environment you discovered this bug in.**

Tsconfig:

[code]

Package.json

[code]

### Which area/package is the issue in?

astro-angular

### Description

When you create your component and you use with an Input from an Astro component, you will never receive the data from you angular component. The ngOnChange is not trigger at all. You also have an error from VS Code wh

[2022-10-11 23:18] brandonroberts commented on #105
Hey @GiuntaLucas. The .ts for hydration on the client is required and mentioned in the docs. As far as the ngOnChanges that's to be expected also as only the initial binding happens which should happen in the ngOnInit function

[2022-10-12 01:32] brandonroberts commented on #104
Seems reasonable to be to offer support for this. What extra configuration is needed?

[2022-10-12 01:34] #100 closed

[2022-10-12 01:37] brandonroberts commented on #79
Fixed inputs with #81

[2022-10-12 01:37] #79 closed

[2022-10-12 08:15] GiuntaLucas commented on #105
Hello, thank's a lot it end some struggle on my side. Any idea  about the @Input ? I only have one input to try the communication between all the front framework and Astro, but Angular doesn't display and reconize the Input value. I followed the documentation, i have almost the same (one string input to display directly to the html). I also tried (we never know) with the "classic" syntaxe, the bra

[2022-10-12 08:52] TicTak21 commented on #104
For PNPM:
1) Replace `yarn.lock` with `pnpm-lock` via `pnpm install`
2) Replace yarn commands with pnpm commands inside CI

For Yarn2:
Follow [migration guide](https://yarnpkg.com/getting-started/migration#step-by-step)
1. Migrate `yarn.lock` to the v2
2. Remove `node_modules`
3. [Configure PnP](https://yarnpkg.com/getting-started/migration#enabling-it) via `.yarnrc`
4. [Editor support](https://ya

[2022-10-12 12:08] muuvmuuv opened #107 "FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory"
### Please provide the environment you discovered this bug in.

Our companies own app, but I bet an Ionic full feature starter (e.g. "my-first-app") will produce the same error.

### Which area/package is the issue in?

vite-plugin-angular

### Description

Just tested quick and added Analog-Vite to our companies Angular-Ionic-Capacitor App and ran the following:

[code]

it never shows the applic

[2022-10-12 13:59] GiuntaLucas commented on #105
@luishcastroc  it is still not working.

[2022-10-14 03:09] brandonroberts commented on #104
Are you referring to using pnpm for this repo, or for new projects? I don't have any plans to move to pnpm at the moment. I'll revisit a later version of yarn at some point

[2022-10-14 03:09] #104 closed

[2022-10-14 12:50] brandonroberts opened #108 "[RFC]: Explore concept of global imports for components"
### Which scope/s are relevant/related to the feature request?

Don't known / other

### Information

In most cases, when building Angular components, there are some directives/pipes that you end up using over and over such as:

- NgIf
- NgFor
- Async Pipe

The concept of global imports would make these imports implicitly available by default by adding them to an `imports.ts` file defined in the p

[2022-10-14 14:49] himyjan commented on #86
@analogjs/astro-angular 0.1.0-beta.3 + @analogjs/vite-plugin-angular 0.2.0-alpha.12
<img width="806" alt="image" src="https://user-images.githubusercontent.com/51815522/195875870-7d84a6bc-6b5b-4573-83f8-34f2bc21c404.png">
<details>
<summary>error message:</summary>
[code]
</details>

[2022-10-14 14:57] brandonroberts commented on #86
@himyjan don't add to existing issues that are not relevant. Open a new issue with a reproduction in a GitHub repo

[2022-10-14 16:30] kyleryanbanks commented on #108
I think I would rather just use Angular Modules over magic app-wide configuration with a non-Modules workaround injecting code into my standalone components?

It feels counter-intuitive to use standalone modules and then say you want an external module to handle common imports.

`Component({
  selector: 'app-shipping',
  standalone: true,
  imports: [
    ...CommonImports,
    ...FeatureImports,

[2022-10-14 16:52] brandonroberts commented on #108
It could be too much magic. What I want is a set of things to be available without me importing anything.

Standalone components are great. They've also made Angular even more verbose unless you use arrays for common imports. We don't have a defined pattern for that yet.

The talk at ng-conf by Pawel mentioned something similar using template syntax but I imagine it's going to be bound to first-pa

[2022-10-14 21:02] antischematic commented on #108
This looks like a lot of effort for almost zero or even negative benefit. The Angular language service would need to be extended to support this in tooling, and it probably won't work in IntelliJ since they use their own version of it. This RFC doesn't address unit testing either.

What is so hard about doing this?

[code]

[code]

This is then easily sharable with unit tests as well.

[code]

[2022-10-14 22:29] brandonroberts commented on #108
@antischematic it says "Explore" in the title for a reason. It may be unreasonable to do in practice, but we may end up with something more suitable as a result. If you have any suggestions other than "do what we've always done" I'd be happy to hear it.

[2022-10-15 19:27] profanis commented on #6
Hey @brandonroberts  I could give this a try.

I have slowly started working on it. Perhaps I could push a draft PR and optimize it on the go

[2022-10-15 19:33] brandonroberts commented on #6
Hey @profanis, cool. Before you open up a PR, will you share which path you started down? Want to make the most use of your time if possible.

[2022-10-16 11:02] profanis commented on #6
As you said in your second comment, the API routes could be based on an integration with Nitro.
To start with Nitro is fairly easy. All it needs is the routes (file-based) and the `nitro.config.ts`.
Having such a configuration in Analog, I believe could work but I am afraid that this would make a tight dependency and this wouldn't be the desired approach. 🤔

A Vite plugin could do the trick where

[2022-10-16 18:28] brandonroberts commented on #6
That's on the path where I was thinking. I was thinking of a more integrated approach.

Nitro provides an integration that can hook into the Vite Dev Server, so we can create a Nitro dev server as part of the initial build, add it to Vite's middleware during development, and then create the Nitro build as part of the production build process.

The separate Nitro config could only be needed for adv

[2022-10-17 02:31] brandonroberts opened #112 "[FEAT]: Add support for Angular Material custom package.json exports"
### Which scope/s are relevant/related to the feature request?

vite-plugin-angular

### Information

Angular Material uses custom `sass` and `style` properties in the `package.json` exports. When using the imports from Angular Material themes with Vite, it throws an error as it cannot resolve them. This can be fixed by adding `sass` and `style` to the `resolve.conditions` in the Vite config.

We

[2022-10-17 18:52] profanis commented on #6
I checked the CLI code of Nitropack to understand what are the steps it follows to create the dev server, and what are the steps for the production build. I am not sure if there is a more targeted API that can hook into the Vite dev server. Please share a link so that I can check this out.

The package name `@analogjs/platform` is confusing me a bit and I feel that I am a bit derailed, so let me p

[2022-10-17 21:40] yackinn commented on #21
I'm interested in creating an implementation with NestJS.
It could be similar to this https://github.com/nxarch/nest-nguniversal.

Can someone answer a few questions?

Is it possible to create a js bundle of a vite server?
Something like this.

[code]
Compile this into some js output bundle

What is the middleware used for?

[code]

[2022-10-17 22:42] mainawycliffe commented on #69
I was just wondering, do we want to use releases or just push to master and publish a minor/path version for the time being

[2022-10-19 12:13] brandonroberts opened #113 "[DOCS]: Add documentation for router package"
Document:

- Installation
- Usage

[2022-10-19 12:40] brandonroberts opened #114 "[FEAT]: Add router to scaffolded application"
- Add the `@analogjs/router` to the `package.json` dependencies
- Add the `provideFileRouter()` to the `bootstrapApplication` providers
- Add the `RouterOutlet` import and `router-outlet` to the AppComponent template

[2022-10-19 12:42] #1 closed

[2022-10-19 12:54] brandonroberts opened #115 "[REPO]: Update to Angular v15 RC"

[2022-10-19 12:55] brandonroberts opened #116 "[FEAT]: Add Angular v15 application to template applications"
### Which scope/s are relevant/related to the feature request?

create-analog

### Information

Add angular-v15 template application when using `yarn create analog`

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-20 19:10] #113 closed

[2022-10-20 19:24] brandonroberts opened #118 "[DOCS]: Update manual setup for Analog Router"
- Include changes to tsconfig.app.json for `src/app/routes/**/*.ts`
- Add router outlet
- Restart Vite

[2022-10-20 19:58] brandonroberts opened #119 "[ROUTER]: Vite must be restarted along with browser refresh to pick up new routes"
### Please provide the environment you discovered this bug in.

Local

### Which area/package is the issue in?

router

### Description

- When adding a new file for route, it is not picked up on page reload.
- You must restart Vite, and refresh the page to get the new routes.

### Please provide the exception or error you saw

_No response_

### Other information

_No response_

### I would be wi

[2022-10-20 20:42] manfredsteyer commented on #108
The idea is nice. I know sth like this from ASP.NET. However, as we get Auto Imports for Standalone Components soon, perhaps we don't need such global deps. Or do I miss sth. here?

[2022-10-22 13:15] draylegend opened #122 "TypeError: Method Promise.prototype.then called on incompatible receiver [object Object]"
### Please provide the environment you discovered this bug in.

local

vitest v0.24.3

### Which area/package is the issue in?

Don't know / Other

### Description

tests doesn't work

### Please provide the exception or error you saw

[code]

### Other information

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [X] No

[2022-10-24 12:02] brandonroberts commented on #119
GitHub repo is here https://github.com/brandonroberts/analog-router-demo

To reproduce:

1. Clone repo
2. Run yarn to install dependencies
3. Run `yarn dev`
4. Copy the `src/app/routes/about.ts` to `src/app/routes/test.ts`
5. Try to visit `http://127.0.0.1:5173/test`
6. Note the `Page Not Found` displayed
7. Stop/Restart the development server
8. Hard refresh the page in the browser
9. Try to visi

[2022-10-25 01:24] dalenguyen commented on #116
I can help with this one :D

[2022-10-28 14:15] TicTak21 opened #123 "[DOCS]: typo in the "Dynamic Routes" section"
### Please provide the environment you discovered this bug in.

https://analogjs.org/docs/packages/router/overview#dynamic-routes

### Which area/package is the issue in?

Docs

### Description

`produtcs` -> `products`

<img width="875" alt="Screen Shot 2022-10-28 at 17 12 14" src="https://user-images.githubusercontent.com/44474697/198636251-c61371b1-7161-4521-98b2-ea6eec87071d.png">

### Please

[2022-10-31 11:14] #123 closed

[2022-10-31 12:00] #119 closed

[2022-10-31 23:31] jdgamble555 opened #127 "ISR Support"
### Which scope/s are relevant/related to the feature request?

Don't known / other

### Information

I don't really care about ISR support specifically, but automating the `cache-control` header in serverless functions.

I want something that uses the `Cache-Control` header, and I don't have to deal with it.

NextJS used to use [ISR](https://nextjs.org/docs/basic-features/data-fetching/get-server

[2022-11-01 13:59] hrmcdonald opened #128 "[BUG] vite plugin issue with react/tsx files in astro/Docs need to mention tsx files"
### Please provide the environment you discovered this bug in.

When you setup an Astro project with MDX + React + Angular if your React components use typescript (`.tsx`) then pages that import them will fail to build. If the Angular plugin + components are removed everything works fine. If instead the React components are converted to `.jsx`  then everything will also work fine.

Also, awesome j

[2022-11-08 11:31] marcjulian opened #129 "[FEAT]: configure tsconfig.app.json location"
### Which scope/s are relevant/related to the feature request?

astro-angular

### Information

I am using nx workspace together with [@nxtensions/astro](https://github.com/nxtensions/nxtensions/tree/main/packages/astro) to generate an astro application into `apps` directory.

When using astro with `@analogjs/astro-angular` it requires a `tsconfig.app.json` at the root location. As this tsconfig i

[2022-11-10 03:00] #122 closed

[2022-11-11 13:26] #129 closed

[2022-11-11 13:31] miluoshi opened #134 "[BUG] Explicit `tsconfig` option always resolved to `'./tsconfig.spec.json'`"
### Please provide the environment you discovered this bug in.

[code]

### Which area/package is the issue in?

vite-plugin-angular

### Description

There's an error in expression that resolves default values for `tsconfig` option. As a result of this, if the option is defined, it always resolves to `'./tsconfig.spec.json'` instead of `options.tsconfig` value.

The problem are missing parenthese

[2022-11-11 18:51] #134 closed

[2022-11-11 20:31] brandonroberts commented on #116
Sure

[2022-11-14 16:18] miluoshi opened #139 "[FEAT] Allow to define `includePaths` in styleOptions for Angular compiler plugin"
### Which scope/s are relevant/related to the feature request?

vite-plugin-angular

### Information

**Problem:**
I want to be able to define custom path aliases for import paths in my scss stylesheets and I am not able to.

**Angular+Webpack alternative:**
[@nrwl/angular:webpack-browser executor](https://nx.dev/packages/angular/executors/webpack-browser?ref=root/properties/stylePreprocessorOptio

[2022-11-14 18:21] #6 closed

[2022-11-14 18:25] brandonroberts commented on #139
Thanks @miluoshi. We don't use the sass plugin included with `createCompilerPlugin`. This is handled by Vite itself. We had a discussion about this here with included solutions for includePaths

https://twitter.com/brandontroberts/status/1581824172547665920

You can fix it in your Vite config

"Fixed the imports by adding includePaths with a relative path to the root of the workspace in the Vite c

[2022-11-14 20:07] miluoshi opened #142 "[BUG] Styles loaded with `styleUrls` are not encapsulated"
### Please provide the environment you discovered this bug in.

See this StackBlitz: https://stackblitz.com/edit/github-32hhow?file=src/app/app.component.ts

See `app.component.ts` that includes both css and scss styles in `styleUrls`

### Which area/package is the issue in?

vite-plugin-angular

### Description

When using `styleUrls` to include styles to a component, each stylesheet gets include

[2022-11-14 21:37] miluoshi commented on #112
Maybe this fix is related? https://github.com/angular/angular-cli/commit/0662a2e9eb116915718d512876bdacab929a6ed9

[2022-11-15 01:34] brandonroberts commented on #128
The fix here is to add `"src/**/*.tsx"` to the `include` in the `tsconfig.app.json`. Should probably add that to the example `tsconfig.app.json` in the docs. Would you like to submit a PR?

[2022-11-15 01:39] #112 closed

[2022-11-15 02:39] brandonroberts opened #144 "[DOCS]: Reorganize docs from packages to features"
Update the side menu and pages to list Analog features instead of a collection of separate packages. The only standalone package is the Astro / Angular integration.

The rest of the plugins are going to be rolled under the `@analogjs/platform` package.

[2022-11-15 02:44] #118 closed

[2022-11-16 14:45] miluoshi commented on #139
Hi @brandonroberts, thanks for your reply! I don't see very deep into the Vite + Angular build system so take my findings with a grain of salt.

**TL;DR:** `css.preprocessorOptions.scss.includePaths` doesn't work for me

With the new proposed `includePaths` plugin option there are together 3 options that influence resolution of aliased sass modules: `resolve.alias`, `css.preprocessorOptions.scss.i

[2022-11-16 14:48] miluoshi commented on #139
Here's the call sequence for processing scss by `@angular-devkit/build-angular:browser-esbuild@14.2.9` :
- `angular-vite-plugin.ts`: [`createCompilerPlugin` call](https://github.com/analogjs/analog/blob/main/packages/vite-plugin-angular/src/lib/angular-vite-plugin.ts#L95)
- `browser-esbuild/compiler-plugin.ts`: [`bundleStylesheetFile` call](https://github.com/angular/angular-cli/blob/1e5d4a75084df

[2022-11-16 15:55] hrmcdonald commented on #128
Thanks for looking into this. That definitely fixes the issue in the stackblitz example I shared.

I did have this issue locally though despite already having added this configuration due to its mention in another issue thread. I believe the cause for the issue there turned out to be something with PNPMs default hoisting method, at least how our project was configured. Since adjusting that I've co

[2022-11-17 01:53] brandonroberts commented on #128
Ok cool. Yes a PR would be great, thanks

[2022-11-17 01:55] brandonroberts commented on #114
Closed via https://github.com/analogjs/analog/pull/147

[2022-11-17 01:55] #114 closed

[2022-11-17 02:02] brandonroberts opened #148 "[FEAT]: Add alternative support for index routes using parentheses"
### Which scope/s are relevant/related to the feature request?

router

### Information

Today, index routes are defined in the routes folder as:

- src/app/routes/index.ts - /
- src/app/routes/products/index.ts - /products

This can lead to lots of files with similar names. Consider adding support for filenames enclosed in characters like parenthesis being treated as index routes

- src/app/route

[2022-11-18 04:10] brandonroberts opened #151 "bug: API routes are built during testing"
### Please provide the environment you discovered this bug in.

local

### Which area/package is the issue in?

Don't know / Other

### Description

When running `yarn test` in the template application, the API routes are built and started. This is not needed during testing.
We can use the `process.env['NODE_ENV'] === 'test' || !!process.env['VITEST']` to exclude the plugin during testing

### Ple

[2022-11-18 22:48] eng-dibo opened #153 "docs?"
### Which scope/s are relevant/related to the feature request?

Docs

### Information

I don't see any reference for Docs in your readme file

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-11-18 22:50] eng-dibo opened #154 "support for Angular v15"
### Which scope/s are relevant/related to the feature request?

create-analog

### Information

Angular v15 has been officially released but doesn't exist in the create-analog optoions

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-11-18 22:52] #153 closed

[2022-11-18 23:56] brandonroberts commented on #154
Duplicate of   https://github.com/analogjs/analog/issues/116

[2022-11-18 23:56] #154 closed

[2022-11-19 21:21] #115 closed

[2022-11-19 21:29] brandonroberts commented on #139
I see. The esbuild compiler plugin is also processing SCSS, along with Vite. The fix seems reasonable to me. I've moved the plugin inside the `@analogjs/platform` package, so we can add it to the `vite` options and pass it to both plugins.

[2022-11-19 21:46] #151 closed

[2022-11-20 06:00] dalenguyen commented on #116
@brandonroberts added in #158

[2022-11-20 20:19] #116 closed

[2022-11-21 03:33] #128 closed

[2022-11-28 23:17] #142 closed

[2022-11-30 13:55] miluoshi commented on #142
It works in the latest `0.2.0-alpha.18` version. Thanks! 🎉